version: "3.9"

services:
  mongo:
    image: mongo
    container_name: dd_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  backend:
    build: ./backend
    container_name: dd_backend
    depends_on:
      - mongo
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/mydb
    restart: always

  frontend:
    build: ./frontend
    container_name: dd_frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: always

volumes:
  mongo_data:
